<div class="container">
  <h1>Add Product</h1>
  <form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
      <!-- @if(title?.touched) {
      <div>
        @if(title?.hasError('required')) {
        <small class="text-danger">Title is required</small>
        } @if(title?.hasError('minlength')) {
        <small class="text-danger">Title minlength 6</small>
        }
      </div>
      } -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
