<form [formGroup]="authForm" (ngSubmit)="handleSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    @if(authForm.get('email')?.errors && authForm.get('email')?.touched ) {
    <small class="text-danger">Email errors</small>
    }
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
  </div>
  <button type="submit" class="btn btn-primary">
    {{ btnSubmit || "Submit" }}
  </button>
</form>
