<div class="container">
  <h1 class="text-center my-4">Admin Product List</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td><img [src]="product.image" alt="" width="80" /></td>
        <td>
          <button
            (click)="handleDeleteProduct(product.id)"
            class="btn btn-danger"
          >
            Delelte
          </button>
        </td>
      </tr>
      } @empty {
      <li>There are no products.</li>
      }
    </tbody>
  </table>
</div>
