<!-- React: products.map(product => (ProductCard key={index})) -->
<div class="row">
  @for(product of products; track product.id) {
  <div class="col">
    <!-- Product Card -->
    <div class="card" style="width: 18rem">
      <img class="card-img-top" [src]="product.image" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <p class="card-text">Price: {{ product.price }} VND</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  } @empty {
  <h2>There are no items.</h2>
  }
</div>
