<div class="container">
  <h1 class="text-center my-2">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div>
        <p>Email Error:</p>
        @if(loginForm.get('email')?.hasError('required')) {
        <small id="emailHelp" class="text-danger"> Email required </small>
        } @if(loginForm.get('email')?.hasError('email')) {
        <small id="emailHelp" class="text-danger"> Email invalid format </small>
        }
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
      @if(loginForm.get('password')?.invalid &&
      loginForm.get('password')?.touched) {
      <div>
        <p>Password Error:</p>
      </div>
      }
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
